[Unit]
Description = Catalogue Service

[Service]
User=roboshop
Environment=MONGO=true
Environment=CATALOGUE_SERVER_PORT=8082



Environment=MONGO_URL="mongodb://{{mongodb_host}}:27017/catalogue" 
ExecStart="/bin/node /app/{{service}}/server.js"
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target